.navLink{
	text-decoration:none;
}
.navLink:hover{
	color:black;
}
ul{
	width:100%;
}
.navMenu{
	display: inline;
	margin: 0 40px 40px 40px;
	color:#571091;
	font-size:20px;
	font-family:"Shippori Mincho", serif;
}
.actualPage{
	color:black;
}
