/*General*/
*{
	margin:0;
	padding:0;
}

$titles-font:'Lato', sans-serif;
$text-font:"Quicksand",sans-serif;

$primary-color:#ab1609;
$secondary-color:white;

body{
	overflow-x: hidden;
}
.navLabel{
	display:none;
}
.navInput{
	display: none;
}
.navLink{
	text-decoration:none;
	color:white;
}
.navLink:hover{
	color:$primary-color;
	transition:1s;
}
.header__menu{
	width:80vw;
	position:relative;
	left:20vw;
	top:10px;
	padding:0;
}
.header__menu__item{
	display: inline;
	margin: 0 50px;
	font-size:20px;
	font-weight: 800;
	font-family: $titles-font;
}
.header__menu__item--actual{
	display: inline;
	margin: 0 50px;
	font-size:22px;
	font-weight: 800;
	font-family: $titles-font;
	color:$primary-color;
}
.pageBody{
	background-color: black;
}
@media only screen and (max-width: 575px){
.header__menu{
  display: none;
  position:absolute;
  left:60px;
}
.navInput:checked  ~ .header__menu{
  display:block;
  background-color:rgb(28,28,28);
  z-index: 1;
  width:20vw;
  border-radius:10px;
}
.navLabel{
  display:inline-block;
  color:white;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  line-height: 60px;
  font-weight: 800;
  text-align: center;
  user-select: none;
}
.header__menu__item{
  display:block;
  margin: 0;
  padding: 5px;
  list-style: none;
  font-size:18px;
}
.header__menu__item--actual{
  display:block;
  margin: 0;
  padding: 5px;
  list-style: none;
  font-size:18px;
}
}
@media only screen and (min-width:576px) and (max-width: 991px){
.header__menu__item{
	margin:0 20px;
	font-size: 16px;
}
.header__menu__item--actual{
	margin:0 20px;
	font-size: 18px;
}
}
@media only screen and (min-width:992px) and (max-width: 1199px){
.header__menu__item{
	margin:0 30px;
	font-size: 18px;
}
.header__menu__item--actual{
	margin:0 20px;
	font-size: 20px;
}
}
@media only screen and (min-width: 1400px){
	.header__menu__item{
		font-size:22px;
	}
	.header__menu__item--actual{
		font-size: 22px;
	}
}
/*Inicio*/
.inicioLogo{
	position:relative;
	top:50px;
	left:8vw;
}
.inicioHeader{
	background:black;
	background-image: linear-gradient(0deg, rgba(180,180,180,0) 70%, rgba(150,150,150,0.8) 75%, rgba(0,0,0,1) 95%),url("../media/inicio/background-inicio-min.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
	height:700px;
}
.noticiasInicio{
	width: 100%;
  	max-width: 100%;
  	margin: 20px auto;
}
.noticia{
	background-color:black;
	padding:30px;
	position: relative;
	margin:30px;
	border-radius:20px;
	width:70%;
	height:400px;
	border-style: double;
	border-width: 1px;
	border-color: black white white black;
}
.fechaNoticia{
	position:absolute;
	left:10px;
	top:2px;
	font-style: italic;
	color:grey;
}
.imgNoticia{
	width:50%;
	height:270px;
	position:relative;
	left:30%;
	top:20px;
	margin-bottom: 10px;
}
.textNoticia{
	width:70%;
	max-width:70%;
	font-family: Lato,sans-serif;
	font-size:22px;
	position:absolute;
	left:15%;
	bottom:30px;
	color:$secondary-color;
}
@media only screen and (max-width:575px){
	.noticia{
		height:350px;
	}
	.imgNoticia{
		height:180px;
	}
	.textNoticia{
		font-size:17px
	}
	.inicioHeader{
		height:500px;
		background-image: linear-gradient(0deg, rgba(180,180,180,0) 70%, rgba(150,150,150,1) 75%, rgba(0,0,0,1) 95%),url("../media/inicio/background-inicio-min.jpg");
		background-size:contain;
	}
	.inicioLogo{
		top:10px;
		left:150px;
	}
}
@media only screen and (min-width:576px) and (max-width:767px){
	.imgNoticia{
		top:10px;
		height:200px;
	}
}
/*Banda*/
.bandaTitle{
	color:$primary-color;
	font-family: $titles-font;
	text-align:center;
	margin-top: 20px;
	padding-top:20px;
}
.bandaSubt{
	font-family: $titles-font;
	text-align:center;
	color:$secondary-color;
}
.bandaText{
	margin:30px 10px;
	font-family:$text-font;
	font-size: 20px;
	color:$secondary-color;
}
.bandaTextDesc{
	text-indent:10px;
	text-align:justify;
	padding:0 10px;
}
.bandaImg{
	width:30%;
	margin:0 10px;
	float:left;
	padding:0 10px;
}
.containerBanda{
	width:100%;
	margin:80px 0;
}
.flexBanda{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
}
.musico{
	background-color:grey;
	position:relative;
	padding:20px;
	margin:10px;
	height:450px;
	width:80%;
	overflow:hidden;
	border-radius: 20px;
}
.musicoImg{
	width:100%;
	height:70%;
}
.musicoTitle{
	color:black;
	position:absolute;
	font-size:25px;
	font-family:"Lato", sans-serif;
	margin-top:10px;
}
.musicoSubt{
	color:black;
	position:absolute;
	font-size:20px;
	font-family:$text-font;
	font-style:italic;
	margin-top:40px;
}
.musicoDesc{
	color:black; 
	font-family:$text-font;
	position:absolute;
	top:150px;
	left:400px;
}
@media only screen and (max-width:767px){
	.bandaImg{
		width:40%;
	}
	.flexBanda{
		flex-flow: column nowrap;
	}
	.musico{
		height:320px;
		width:70%;
	}
	.musicoImg{
		height:80%;
	}
}
@media only screen and (min-width:767px) and (max-width: 890px){
	.musicoSubt{
		margin:0;
		bottom:50px;
}
}
/*Shows*/
.showsTitle{
	padding-top:20px;
	margin:20px;
	font-family: $titles-font;
	font-size: 30px;
	color:$primary-color;
}
.containerProximas{
	width: 80%;
  	max-width: 80%;
  	margin:0 auto;
}
.containerUltimas{
  	width: 80%;
  	max-width: 80%;
  	margin: 0 auto;
  	height:600px;
  	overflow:auto;
}
.borde{
	border:solid 5px;
	border-radius:10px;
}
.flex{
	display:flex;
	flex-flow:column nowrap;
	justify-content:space-between;
	align-items:center;
}
.show{
	background-color:grey;
	padding:20px;
	position:relative;
	margin:5px;
	border-radius:20px;
}
.showImg{
	width:40%;
	float:left;
	height:180px;
}
.showText{
	width:60%;
	max-width:60%;
}
.showTitle{
	position:absolute;
	top:15%;
	left:45%;
	font-size:40px;
	font-family:$text-font;
}
.showFecha{
	position:absolute;
	top:48%;
	left:45%;
	font-size:20px;
	font-family:$text-font;
	color:$primary-color;
}
.showDesc{
	position:absolute;
	font-size:20px;
	font-family:$text-font;
	left:45%;
	top:58%;
}
.showSuspendido{
	color:black;
	background-color:rgb(80,80,80);
	border-radius:15px;
	position:absolute;
	right:5%;
	bottom:10%;
	text-decoration: none;
	font-size: 30px;
}
.boton{
	color:black;
	background-color:$primary-color;
	border-radius:15px;
	position:absolute;
	right:5%;
	bottom:10%;
	text-decoration: none;
}
.botonGaleria{
	padding:15px;
	font-size:30px;
}
.boton:hover{
	background-color:#e63740;
}
@media only screen and (max-width:991px){
	.showTitle{
		font-size: 30px;
	}
}
@media only screen and (max-width: 575px){
	.boton{
		bottom:7%;
	}
	.botonGaleria{
		font-size: 22px;
		padding:5px;
	}
	.showSuspendido{
		font-size: 22px;
	}
}
/*Galería*/
.containerGaleria{
	width:90%;
	margin:0 20px;
	display:grid;
	grid-template-rows:150px 320px 320px 150px;
	grid-template-columns:repeat(3,1fr);
	grid-gap: 0;
}
.tituloGaleria{
	grid-row: 1/span 1;
	grid-column: 2/span 1;
	text-align: center;
	margin:10px 0;
	padding-top:30px;
}
.tituloVideos{
	grid-row: 4/span 1;
	grid-column: 2/span 1;
	text-align: center;
	margin:40px 0;
}
.tituloUno{
	color:$primary-color;
	font-family: $titles-font;
	font-size:40px;
	margin-top:30px;
}
.redesGaleria{
	font-family: $titles-font;
	margin-bottom: 20px;
}
.galeriaLinks{
	text-decoration: none;
}
.galeriaUnoText:hover{
	color:$primary-color;
	transition:0.6s;
	text-decoration: none;
}
.galeriaUnoText{
	font-size: 22px;
	position:relative;
	top:160px;
	color:$secondary-color;
	z-index: 1;
	text-align: center;
}
.galeriaSubLink{
	font-size:13px;
	position:relative;
	text-align:center;
	top:163px;
	color:$secondary-color;
	z-index: 1;
}
.galeriaUnoImg{
	position: relative;
	top:0;
	left:0;
	z-index: 0;
}
.galeriaUno{
	grid-row: 3/span 1;
	grid-column: 2/span 1;
}
.galeriaDos{
	grid-row: 3/span 1;
	grid-column: 1/span 1;
}
.galeriaTres{
	grid-row: 2/ span 1;
	grid-column: 3/span 1;
}
.galeriaCuatro{
	grid-row:2/span 1;
	grid-column: 2/span 1;
}
.galeriaCinco{
	grid-row:2/span 1;
	grid-column: 1/span 1;
}
.galeriaHover:hover{
	transform: scale(1.3);
	transition: 0.8s;
	z-index: 1;
}
.linkRedesGaleria{
	text-decoration: none;
	color:$secondary-color;
}
.linkRedesGaleria:hover{
	text-decoration: underline;
}
.container__videos{
	display:flex;
	flex-flow: row nowrap;
	overflow: auto;
	width:100vw;
	margin:5px;
	justify-content:space-around;
}
.container__videos--principal{
	display:flex;
	justify-content:center;
	margin:10px 0;
	width:100vw;
}
.tamañoVideos{
	width:300px;
	height:320px;
}
.tamañoVideos--principal{
	width:750px;
	height:450px;
}
@media only screen and (max-width: 1200px){
	.containerGaleria{
		grid-template-rows:150px 320px 320px 320px 150px;
		grid-template-columns:repeat(2,1fr);
	}
	.galeriaCuatro{
		grid-row:2/span 1;
		grid-column: 2/span 1;
	}
	.galeriaTres{
		grid-row: 3/ span 1;
		grid-column: 1/span 1;
	}
	.galeriaDos{
		grid-row: 3/span 1;
		grid-column: 2/span 1;
	}
	.galeriaUno{
		grid-row: 4/span 1;
		grid-column: 1/span 1;
	}
	.galeriaCinco{
		grid-row:2/span 1;
		grid-column: 1/span 1;
	}
	.tituloVideos{
		grid-row: 5/span 1;
		grid-column: 1/span 2;
	}
	.galeriaUnoImg{
		width:100%;
		height:100%;
	}
	.tituloGaleria{
		grid-row: 1/span 1;
		grid-column: 1/span 2;
	}
	.container__videos--principal{
		top:100%;
	}
}
/*Contacto*/
.tituloContacto{
	color:$primary-color;
	font-family: $titles-font;
	text-align:left;
	margin:20px;
	padding-top:20px;
}
.formulario{
	margin:20px;
	width:80%;
}
.form-label{
	color:white;
	font-family:$text-font;
}


/*Págs. de cada show*/
.carousel{
	width:90%;
	left:5%;
}
.carousel-inner{
	width:70%;
	left:15%;
	vertical-align: middle;
}
.carousel-img{
	width:100%;
	height:450px;
}
.showPageGrid{
	display:grid;
	grid-template-rows:357px 357px 357px 357px;
	grid-template-columns:50% 50%;
	margin:100px 20px 0 20px;
}
.tituloShow{
	color:$primary-color;
	font-family: $titles-font;
	text-align:left;
	margin:20px;
	padding-top:20px;
}
.showPageImg{
	width:100%;
	height: 100%;
}
.brillo{
	filter:brightness(70%);
}
.brillo:hover{
	filter:brightness(110%);
	transition:0.7s;
}
.fotoUno{
	grid-row:1/span 1;
	grid-column:1/span 1;
}
.fotoDos{
	grid-row:1/span 1;
	grid-column:2/span 1;
}
.fotoTres{
	grid-row:2/span 1;
	grid-column:1/span 1;
}
.fotoCuatro{
	grid-row:2/span 1;
	grid-column:2/span 1;
}
.fotoCinco{
	grid-row:3/span 1;
	grid-column:1/span 1;
}
.fotoSeis{
	grid-row:3/span 1;
	grid-column:2/span 1;
}
.fotoSiete{
	grid-row:4/span 1;
	grid-column:1/span 1;
}
.fotoOcho{
	grid-row:4/span 1;
	grid-column:2/span 1;
}
@media only screen and (max-width: 575px){
	.showPageGrid{
		grid-template-columns:90%;
		grid-template-rows: 357px 357px 357px 357px 357px 357px 357px 357px;
		justify-content: center;
	}
	.fotoUno{
		grid-row:1/span 1;
		grid-column:1/span 1;
	}
	.fotoDos{
		grid-row:2/span 1;
		grid-column:1/span 1;
	}
	.fotoTres{
		grid-row:3/span 1;
		grid-column:1/span 1;
	}
	.fotoCuatro{
		grid-row:4/span 1;
		grid-column:1/span 1;
	}
	.fotoCinco{
		grid-row:5/span 1;
		grid-column:1/span 1;
	}
	.fotoSeis{
		grid-row:6/span 1;
		grid-column:1/span 1;
	}
	.fotoSiete{
		grid-row:7/span 1;
		grid-column:1/span 1;
	}
	.fotoOcho{
		grid-row:8/span 1;
		grid-column:1/span 1;
	}
	.carousel-img{
		height:350px;
	}
}
/*Footer*/
.footer{
  background:linear-gradient(0deg, rgba(28,28,28,1) 64%, rgba(0,0,0,1) 90%);
  width:100vw;
  height:200px;
  max-height:200px;
  margin-top:70px;
}

.footer__redes{
	position:relative;
	top:70px;
	right:15vw;
	float:right;
}
.footer__redes__title{
  color:$secondary-color;
  font-family: $titles-font;
  font-size:35px;
}
.footer__redes__icon{
  position:relative;
  font-size:35px;
  margin:10px 0 0 35px;
  text-align: center
}
.footer__redes__link{
  text-decoration:none;
  color:$secondary-color;
}
.footer__redes__link :hover{
  color:$primary-color;
  transition:0.5s;
}
.footer__menu{
	width:20vw;
	position:relative;
	left:5vw;
	top:60px;
	margin:0;
	display:inline-block;
}
.footer__menu__item{
	display:inline;
	margin: 0 50px;
	font-size:18px;
	font-weight: 450;
	font-family: $titles-font;
}
.footer__menu__item--actual{
	display:inline;
	margin: 0 50px;
	font-size:18px;
	font-weight: 450;
	font-family: $titles-font;
	color:$primary-color;
}
.footer__logo{
	color:$secondary-color;
	position:relative;
	top:50px;
	left:5vw;
	float:left;
}

@media only screen and (max-width: 767px){
	.footer__logo{
		top:40px;
		left:10px;
	}
	.footer__logo__img{
		width:220px;
		height:120px;
	}
	.footer__menu{
		width:100vw;
		top:22px;
		left:15px;
		justify-content:center;
	}
	.footer__menu__item{
		margin:0 20px;
	}
	.footer__menu__item--actual{
		margin:0 20px;
	}
	.footer__redes{
		right:80px;
		top:55px;
	}
	.footer__redes__title{
		font-size: 30px;
	}
}
@media only screen and (min-width: 1400px){
	.footer__menu{
		display:inline;
		top:100px;
	}
	.footer__menu__item{
		margin:0 20px;
		font-size: 22px;
	}
	.footer__menu__item--actual{
		margin:0 20px;
		font-size: 22px;
	}
}